*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body {
  background-image: linear-gradient(to left top, #000000, #190b14, #221527, #221f3e, #002d57);
  font-family: "Montserrat", sans-serif;
  z-index: -1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 2;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 10px;
}
.header__nav__link__logo {
  height: 50px;
}
.header__nav__iconoMenu {
  width: 50px;
  padding: 10px;
  border-radius: 100%;
  filter: invert(39%) sepia(0%) saturate(0%) hue-rotate(189deg) brightness(93%) contrast(77%);
  border: 2px solid #50aadc;
  cursor: pointer;
}
.header__nav__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 30px 10px 0 10px;
  height: 100vh;
  margin-left: -100%;
  gap: 50px;
  transition: 250ms margin-left ease-in-out;
  background-color: #221f3e;
}
.header__nav__menu__item__link {
  color: rgb(155, 155, 155);
  text-decoration: none;
}
.header .--menuVisible {
  margin-left: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  padding: 0 20px;
}
.main__titulo {
  color: #fff;
  font-weight: 900;
  font-size: 1.6rem;
  margin: auto 0;
}
.main__img {
  align-self: center;
  justify-self: flex-end;
  width: 90%;
  max-width: 500px;
}

.caracteristicas {
  display: flex;
  flex-direction: column;
  background-color: #cbbdd4;
  gap: 40px;
  padding: 70px 50px;
}
.caracteristicas__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.caracteristicas__container__icono {
  width: 80px;
  filter: invert(10%) sepia(38%) saturate(992%) hue-rotate(206deg) brightness(98%) contrast(94%);
}
.caracteristicas__container__icono:hover {
  filter: invert(26%) sepia(29%) saturate(589%) hue-rotate(168deg) brightness(95%) contrast(89%);
}
.caracteristicas__container__titulo {
  font-size: 1.6rem;
  font-weight: 900;
  color: #252525;
}

.descargarApp {
  position: relative;
  height: 800px;
  background-color: #372746;
}
.descargarApp__img {
  position: absolute;
  width: 320px;
  bottom: 0;
  right: 0;
}
.descargarApp__containerDescargar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 120px;
  right: 105px;
  gap: 30px;
}
.descargarApp__containerDescargar__titulo {
  font-size: 1.6rem;
  font-weight: 900;
  color: #cbbdd4;
  margin-bottom: 20px;
  text-align: center;
  width: 150px;
}
.descargarApp__containerDescargar__botones {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.descargarApp__containerDescargar__botones__appStore, .descargarApp__containerDescargar__botones__playStore {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  background-color: #212529;
  padding: 0 15px;
  border-radius: 10px;
  height: 55px;
}
.descargarApp__containerDescargar__botones__appStore__logo, .descargarApp__containerDescargar__botones__playStore__logo {
  width: 25px;
  filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}
.descargarApp__containerDescargar__botones__playStore {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 15px;
  margin-top: 130px;
}
.container__card__img {
  width: 90%;
  margin-bottom: 20px;
}
.container__card__titulo {
  font-size: 1.3rem;
  font-weight: 400;
  color: #252525;
  margin-bottom: 30px;
  text-align: center;
}
.container__card__texto {
  font-size: 0.9rem;
  align-self: flex-start;
  margin-bottom: 30px;
}
.container__card__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 50px;
}
.container__card__form__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
}
.container__card__form__label__input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #9b9b9b;
}
.container__card__form__label__nota {
  font-size: 0.8rem;
}
.container__card__form__btn {
  width: max-content;
  align-self: center;
  padding: 5px 10px;
  color: #fff;
  border: none;
  background-color: #50aadc;
  border-radius: 5px;
}
.container__card__contrasenaRegistrarse {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.container__card__contrasenaRegistrarse__link {
  color: #50aadc;
  font-size: 0.9rem;
}

.precioDolar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  gap: 30px;
  width: 100%;
}
.precioDolar__titulo {
  font-size: 1.6rem;
  font-weight: 900;
  color: #fff;
}
.precioDolar__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.precioDolar__card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #50aadc;
  width: 100%;
}
.precioDolar__card__header__titulo {
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 0;
}
.precioDolar__card__precios {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(161, 161, 161);
  width: 100%;
  padding: 10px 0;
}
.precioDolar__card__precios__compra, .precioDolar__card__precios__venta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
}
.precioDolar__card__precios__compra__precio, .precioDolar__card__precios__venta__precio {
  font-size: 1.2rem;
  font-weight: 600;
}
.precioDolar__card__variacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background-color: #50aadc;
  padding: 5px 0;
}
.precioDolar__card__variacion__icono {
  width: 15px;
}
.precioDolar__card__variacion__texto {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
}
.precioDolar__card__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(161, 161, 161);
  width: 100%;
  padding: 10px 0;
}
.precioDolar__card__footer__texto {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 0;
  background-color: #26272b;
}
.footer__seccionesPrincipales {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__seccionesPrincipales__about, .footer__seccionesPrincipales__enlacesImportantes, .footer__seccionesPrincipales__categorias {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__seccionesPrincipales__about__titulo, .footer__seccionesPrincipales__enlacesImportantes__titulo, .footer__seccionesPrincipales__categorias__titulo {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.footer__seccionesPrincipales__about__descripcion, .footer__seccionesPrincipales__enlacesImportantes__lista__item__link, .footer__seccionesPrincipales__categorias__lista__item__link {
  color: #9b9b9b;
  font-size: 0.9rem;
}
.footer__seccionesPrincipales__categorias__lista {
  list-style: none;
}
.footer__seccionesPrincipales__enlacesImportantes__lista {
  list-style: none;
}
.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #9b9b9b;
  padding: 20px 0;
  color: #9b9b9b;
}
.footer__copyright__texto {
  font-size: 0.9rem;
}
.footer__copyright__texto__link {
  color: #9b9b9b;
}

@media screen and (min-width: 768px) {
  .main {
    position: relative;
  }
  .main__titulo {
    margin-top: 300px;
    margin-left: 50px;
    align-self: flex-start;
  }
  .main__img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    min-width: 300px;
    z-index: -1;
  }

  .descargarApp__img {
    width: 400px;
  }
  .descargarApp__containerDescargar {
    right: 150px;
    bottom: 170px;
  }

  .footer {
    padding: 60px 30px 0;
    gap: 30px;
  }
  .footer__seccionesPrincipales {
    flex-direction: row;
    gap: 40px;
  }
  .footer__seccionesPrincipales__about__descripcion, .footer__seccionesPrincipales__categorias__lista__item__link, .footer__seccionesPrincipales__enlacesImportantes__lista__item__link {
    width: 270px;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav__iconoMenu {
    display: none;
  }
  .header__nav__menu {
    flex-direction: row;
    position: relative;
    background-color: transparent;
    height: max-content;
    padding: 0;
    width: auto;
    top: auto;
    left: auto;
    margin-right: 40px;
    margin-left: 0;
    transition: none;
  }

  .caracteristicas {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;
  }

  .descargarApp__img {
    width: 450px;
  }
  .descargarApp__containerDescargar {
    right: 180px;
    bottom: 200px;
  }

  .footer__seccionesPrincipales {
    gap: 100px;
  }
}
@media screen and (min-width: 1600px) {
  .main__titulo {
    font-size: 2.5rem;
  }
  .main__img {
    max-width: 600px;
  }

  .caracteristicas {
    height: 700px;
    gap: 70px;
  }

  .footer__seccionesPrincipales {
    gap: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
