<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>DOLARES!!</h1>
    <div class="dolarOficial">
      <h3>dolar oficial</h3>
    </div>
    <div class="dolarBlue">
      <h3>dolar blue</h3>
    </div>
    <div class="contadoConLiqui">
      <h3>contado con liqui</h3>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
